* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

p {
  background-color: rgb(179, 83, 0);
}

a {
  background-color: rgb(157, 255, 0);
}

div {
  background-color: bisque;
}

span {
  background-color: rgb(216, 121, 4);
}